<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="100dp">
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/container_info"
        android:paddingTop="@dimen/row_padding_top"
        android:paddingBottom="@dimen/row_padding_bottom"
        android:paddingLeft="@dimen/row_padding_left"
        android:paddingRight="@dimen/row_padding_right">
        <ImageView
            android:src="@android:drawable/ic_menu_gallery"
            android:layout_marginRight="20dp"
            android:layout_width="@dimen/row_image_size"
            android:layout_height="@dimen/row_image_size"
            android:layout_alignParentTop="true"
            android:layout_alignParentLeft="true"
            android:id="@+id/image_thumb" />
        <TextView
            android:text="Title"
            android:textStyle="bold"
            android:textColor="#686868"
            android:textSize="@dimen/text_size"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_toRightOf="@id/image_thumb"
            android:layout_alignParentTop="true"
            android:id="@+id/textview_title" />
        <TextView
            android:id="@+id/textview_source"
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
            android:text="source"
            android:textColor="#aaaaaa"
            android:textSize="@dimen/text_size"
            android:layout_alignParentBottom="true"
            android:layout_toRightOf="@id/image_thumb" />
        <TextView
            android:id="@+id/textview_date"
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
            android:text="1970.01.01"
            android:textColor="#aaaaaa"
            android:textSize="@dimen/text_size"
            android:layout_alignParentBottom="true"
            android:layout_alignParentRight="true" />
    </RelativeLayout>
    <LinearLayout
        android:visibility="invisible"
        android:orientation="horizontal"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/container_buttons">
        <ImageButton
            android:src="@drawable/bookmark"
            android:padding="18dp"
            android:background="#efbb57"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/button_bookmark"
            android:adjustViewBounds="true"
            android:scaleType="fitCenter" />
        <ImageButton
            android:src="@drawable/facebook"
            android:padding="18dp"
            android:background="#4c71ad"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/button_facebook"
            android:adjustViewBounds="true"
            android:scaleType="fitCenter" />
    </LinearLayout>
</FrameLayout>